
 <p id="notice"  class="alert alert-success"><%= notice %></p>

<div class="container form-signin">
  <h2 class="form-signin-heading">Progress:</h2>
  <ul class="list-group">
    <li class="list-group-item">Current Weight: <%= @user.current_weight %></li>
    <li class="list-group-item">Goal Weight: <%= @user.goal_weight %></li>
    <li class="list-group-item">Reach Goal By: <%= @user.reach_goal_by %></li>
    <li class="list-group-item">Weight Loss Goal: </li>
    <li class="list-group-item">BMI: </li>
  </ul>
</div>
