<div class="jumbotron">
  <div class="container-fluid text-center">
    <h1>Welcome to TRAIN!</h1>
    <h2>Keep track of your fitness</h2>
    <h3><%= link_to "Get Started", new_user_path, class: "btn btn-primary btn-lg" %></h3>
  </div>
</div>

