<div class="jumbotron">
  <div class="container text-center">
    <%#= image_tag "welcome_img" %>
    <h1>Welcome to TRAIN!</h1>
    <h2>Keep track of your workout sessions</h2>
    <h3><%= link_to "Get Started", "users/new", class: "btn btn-primary btn-lg" %></h3>
  </div>
</div>
